@model ItlaBanking.ViewModels.RegistroUsuarioViewModels
@{
    Layout = "_LayoutAdministrador";
}

<html>
<body class="bg-light" id="FondoAdministrador">
    <div class="card container bg-warning border border-white rounded shadow-lg p-1 mb-5 bg-white border border-primary">
        <div class="card-header p-1">

            <nav class="navbar navbar-light bg-light navbar-dark bg-dark rounded">
                <a data-toggle="modal" data-target="#staticBackdrop" class="btn btn-success mr-auto  btn-sm text-white">Agregar Usuario</a>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Ingresar Usuario" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </nav>

            @*Modal agregar*@
            <div class="modal fade top" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-frame modal-top modal-notify modal-success modal-lg modal-dialog-centered modal-dialog-scrollable shadow-lg bg-white rounded">
                    <div class="modal-content">
                        <div class="modal-header text-white shadow-sm p-2 bg-success text-center rounded">
                                <h3 class="modal-title "><i class="fa fa-user-plus" aria-hidden="true"></i> Agregar Usuario</h3>
                            <button type="button" class=" btn btn-outline-danger text-white font-weight-bolder" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size:24px;"></i></button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="CrearUsuario" asp-controller="Usuario" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="row col-lg-3">
                                            <label class="labelPago ml-2" asp-for="Nombre" class="control-label"></label>
                                        </div>
                                        <input asp-for="Nombre" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Nombre" />
                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="row col-lg-3">
                                            <label asp-for="Apellido" class="labelPago ml-2"></label>
                                        </div>
                                        <input asp-for="Apellido" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Apellido" />
                                        <span asp-validation-for="Apellido" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row col-lg-8">
                                        <label asp-for="Cedula" class="labelPago ml-2"></label>
                                    </div>
                                    <input asp-for="Cedula" pattern="[0-9]{9}" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" maxlength="11" type="number" placeholder="Ingresar Cedula" />
                                    <span asp-validation-for="Cedula" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="row col-lg-3">
                                        <label asp-for="Usuario1" class="labelPago ml-2"></label>
                                    </div>
                                    <input asp-for="Usuario1" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Usuario" />
                                    <div class="row col-lg-8">
                                        <span asp-validation-for="Usuario1" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row col-lg-3">
                                        <label asp-for="Clave" class="labelPago ml-2"></label>
                                    </div>
                                    <input asp-for="Clave" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" id="Clave" placeholder="Ingresar Contraseña" />
                                    <div class="row col-lg-8">
                                        <span asp-validation-for="Clave" class="text-danger ml-2"></span>
                                        <div class="custom-control custom-switch ml-2">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="myFunction()">
                                            <label class="custom-control-label" for="customSwitch1">Mostar Contraseña.</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row col-lg-8" style="margin-top:-12px;">
                                        <label asp-for="ConfirmClave" class="labelPago ml-2 mt-3"></label>
                                    </div>
                                    <input asp-for="ConfirmClave" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Confirmar Contraseña" />
                                    <div class="row col-lg">
                                        <span asp-validation-for="ConfirmClave" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row col-lg-8">
                                      <label asp-for="TipoUsuario"  class="labelPago ml-2"></label>
                                    </div>
                                    <select asp-for="TipoUsuario" id="opciones"  onclick="mostrar();"  class="custom-select custom-select-lg rounded-pill shadow-sm bg-white">
                                    <option value="Cliente" selected>Cliente</option>
                                    <option value="Administrador">Administrador</option>
                                    </select>
                                    <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                                </div>

                                <div class="form-group" id="balance">
                                    <div class="row col-lg-8">
                                        <label asp-for="monto" class="labelPago ml-2"></label>
                                    </div>
                                    <input asp-for="monto"  min="0.01" step="0.01"  class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Monto" />
                                    <span asp-validation-for="monto" class="text-danger"></span>
                                </div>

                                <input asp-for="Estado" type="hidden" value="Activo">

                                <div class="form-row mt-4">
                                    <div class="form-group col-6">
                                        <input type="submit" value="Crear" style="font-size:20px;"  class="btn btn-outline-success btn-block  shadow rounded"/>
                                    </div>
                                    <div class="form-group col-6">
                                        <input type="reset" style="font-size:20px;" value="Restablecer" class="btn btn-outline-warning btn-block shadow  rounded">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-body">
            <h3 class="card-title font-weight-bold">Usuarios registrados</h3>

            <table class="table table-hover text-center table-responsive-lg table-borderless">
                <div class="d-flex align-items-center">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Tipo de Usuario</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Función</th>
                            <th scope="col">Activador</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @*CLIENTE*@
                        <tr>
                            <th scope="row">1</th>
                            <td>Leonardo</td>
                            <td>Tavarez Betance</td>
                            <td>LTofo</td>
                            <td>Cliente</td>
                            <td>Activo</td>
                            <td>
                                <a asp-controller="Administrador" asp-action="Eliminar" asp-route-id="" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                &nbsp;|&nbsp; <a asp-controller="Administrador" asp-action="Eliminar" asp-route-id="" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>
                                <a asp-controller="Administrador" asp-action="Activador" asp-route-id="" class="btn btn-outline-info btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"> Activar</i></a>
                                <a asp-controller="Administrador" asp-action="Activador" asp-route-id="" class="btn btn-outline-secondary btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Desactivar</a>
                            </td>
                            <td>
                                <a asp-controller="Administrador" asp-action="producto" asp-route-id="" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i> Productos</i></a>
                            </td>
                        </tr>


                        @*ADMINISTRADOR*@
                        <tr>
                            <th scope="row">1</th>
                            <td>Dalvin David</td>
                            <td>Molina Ogando</td>
                            <td>Goku</td>
                            <td>Administrador</td>
                            <td>Activo</td>
                            <td>
                                <a asp-controller="Administrador" asp-action="Eliminar" asp-route-id="" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                &nbsp;|&nbsp; <a asp-controller="Administrador" asp-action="Eliminar" asp-route-id="" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>
                                <a asp-controller="Administrador" asp-action="Activador" asp-route-id="" class="btn btn-outline-info btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"> Activar</i></a>
                                <a asp-controller="Administrador" asp-action="Activador" asp-route-id="" class="btn btn-outline-secondary btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Desactivar</a>
                            </td>
                            <td></td>
                        </tr>

                    </tbody>
                </div>
            </table>


        </div>


    </div>

</body>
</html>

