@{
    Layout = null;
}

<html>
<body class="bg-light" id="CardViewFormulario">
             <div class="container bg-warning border border-white rounded shadow-lg p-1 mb-5 bg-white rounded">


        </div>

</body>
</html>

