@{
    Layout = "_LayoutAdministrador";
}

<html>
<body class="bg-light" id="FondoAdministrador">
             <div class="card container bg-dark border border-secondary rounded shadow-lg p-1 mb-5 border border-primary FondoCard">
                 <div class="card-header p-1 bg-transparent">
                     <h1 style="color:lawngreen">TOTAL DE TRANSACCIONES:</h1>
                     </div>

                 <div class="card-body">
                     <h3 class="card-title font-weight-bold">Usuarios registrados</h3>


                 </div>


            </div>

</body>
</html>

