@model ItlaBanking.ViewModels.RegistrosProductosViewModels
@{
    ViewData["Title"] = "AgregarProducto";
    ViewData["banner"] = "Productos";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<body class="bg-light" id="FondoAdministrador">

    <div class="card container border border-text rounded shadow-lg p-1 mb-5 border border-primary bg-dark ">

        <div class="card-header p-1 bg-transparent text-white">

            <ul class="nav nav-tabs w-100">
                <li class="nav-item w-50">
                    <a class="nav-link active h2"><i class="fa fa-plus-circle" aria-hidden="true"> Registrar Producto</i></a>
                </li>
                <li class="nav-item w-50 rounded-top">
                    <a class="nav-link text-white h2" asp-action="Producto" asp-controller="Usuario" asp-route-id="@Model.IdUsuario"><i class="fa fa-eye" aria-hidden="true"></i> Ver Productos</i></a>
                </li>
            </ul>

        </div>
        <div class="card-body bg-light">

            <form asp-action="CrearProducto" asp-controller="Usuario" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="row col-lg-8">
                        <label asp-for="TipoCuenta" class="labelPago ml-2"></label>
                    </div>
                    <select asp-for="TipoCuenta" id="opciones" onclick="dinero();" class="text-info custom-select custom-select-lg rounded-pill shadow-sm bg-white">
                        <option value="Ahorro" selected>Cuenta de Ahorro</option>
                        <option value="Credito">Tarjeta de Crédito</option>
                        <option value="Prestamo">Préstamos</option>
                    </select>
                    <span asp-validation-for="TipoCuenta" class="text-danger"></span>
                </div>

                <div class="form-group" id="balance">
                    <div class="row col-lg-8">
                        <label asp-for="Balance" class="labelPago ml-2"></label>
                    </div>
                    <input asp-for="Balance" type="number" step="0.01" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar monto de la cuenta de ahorro" />
                    <span asp-validation-for="Balance" class="text-danger"></span>
                </div>

                <div class="form-group" id="cuentaCredito">
                    <div class="row col-lg-8">
                        <label asp-for="MontoLimite" class="labelPago ml-2"></label>
                    </div>
                    <input asp-for="MontoLimite" type="number"  step="0.01" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar monto limite de la tarjeta de credito" />
                    <span asp-validation-for="MontoLimite" class="text-danger"></span>
                </div>

                <div class="form-group" id="CuentaPrestamo">
                    <div class="row col-lg-8">
                        <label asp-for="Monto" class="labelPago ml-2"></label>
                    </div>
                    <input asp-for="Monto" type="number" step="0.01" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar deuda del préstamo" />
                    <span asp-validation-for="Monto" class="text-danger"></span>
                </div>

                <input asp-for="Categoria" type="hidden" value="2">
                <input asp-for="Estado" type="hidden" value="Activo">
                <input asp-for="IdUsuario" type="hidden" value="@Model.IdUsuario">
                <input asp-for="FechaAdquisicion" id="fecha" type="hidden">
                <input asp-for="FechaPago" id="fecha1" type="hidden">
                <input asp-for="FechaExpiracion" id="fecha2" type="hidden">

                @*  <input type="text" id="text" />*@

                <div class="d-flex justify-content-center">
                    <input type="submit" value="Crear producto" style="font-size:20px;" class="btn btn-outline-success btn-lg w-25  shadow rounded-pill" />
                </div>

            </form>
        </div>


    </div>

</body>
