@{
    ViewData["Title"] = "VerProducto";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<body class="bg-light" id="FondoAdministrador">

    <div class="card container border border-text rounded shadow-lg p-1 mb-5 border border-primary bg-dark ">

        <div class="card-header p-1 bg-transparent text-white">

            <ul class="nav nav-tabs w-100">
                <li class="nav-item w-50">
                    <a class="nav-link text-white  h2" asp-action="CrearProducto" asp-controller="Usuario"><i class="fa fa-plus-circle" aria-hidden="true"> Registrar Producto</i></a>
                </li>
                <li class="nav-item w-50 rounded-top">
                    <a class="nav-link active h2" asp-action="Producto" asp-controller="Usuario"><i class="fa fa-eye" aria-hidden="true"></i> Ver Productos</i></a>
                </li>
            </ul>

        </div>
        <div class="card-body bg-light">


            <h3 class="card-title text-info">Cuenta de ahorro</h3>
            <hr class="rounded text-dark border border-secondary">

            <div class="card w-75 p-1 rounded-0 shadow mb-1 bg-light">
                <div class="card-header p-1 bg-transparent">
                    <nav class="navbar  navbar-dark">
                        <a class="text-dark mr-auto h5">Balance: <span class="simboloDinero">RD$</span> 150000.21</a>
                        <a asp-controller="Usuario" asp-action="EliminarProducto" class="btn btn-danger ml-auto  btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </nav>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color:black"> Número de cuenta: <span style="color:green">201536985</span></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cuenta: Secundaria</h6>
                    <p class="card-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Fecha de adquisición:<span class=" font-weight-bolder text-primary"> 20/10/2020</span></p>
                </div>

            </div>


            <h3 class="card-title text-warning mt-3">Tarjetas de credito</h3>
            <hr class="rounded text-dark border border-secondary">

            <div class="card w-75 p-1 rounded-0 shadow mb-1 bg-light">
                <div class="card-header p-1 bg-transparent">
                    <nav class="navbar  navbar-dark">
                        <a class="text-dark mr-auto h5">Total Monto Limite: <span class="simboloDinero">RD$</span> 150000.21</a>
                        <a asp-controller="Usuario" asp-action="EliminarProducto" class="btn btn-danger ml-auto  btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </nav>
                </div>

                <div class="card-body">
                    <h5 class="card-title" style="color:black"> Número Tarjeta de credito: <span style="color:green">201536985</span></h5>
                    <p class="card-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Fecha de pago:<span class=" font-weight-bolder text-warning"> 20/10/2020</span></p>
                    <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> Fecha de expiración:<span class=" font-weight-bolder text-danger"> 20/10/2020</span></p>

                </div>

            </div>


            <h3 class="card-title mt-3" style="color:darkred">Préstamos</h3>
            <hr class="rounded text-dark border border-secondary">

            <div class="card w-75 p-1 rounded-0 shadow mb-1 bg-light">
                <div class="card-header p-1 bg-transparent">
                    <nav class="navbar  navbar-dark">
                        <a class="text-dark mr-auto h5">Deuda: <span class="simboloDinero">RD$</span> 150000.21</a>
                        <a asp-controller="Usuario" asp-action="EliminarProducto" class="btn btn-danger ml-auto  btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </nav>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color:black"> Número de Préstamo: <span style="color:green">201536985</span></h5>
                     <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> Fecha de expiración:<span class=" font-weight-bolder text-danger"> 20/10/2020</span></p>
                </div>
            </div>


        </div>


    </div>

</body>
