<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Administrador</title>

    <link href="~/css/EstiloAdministrador.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/EstilosLayout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- jQuery, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

</head>
<body>

    <div id="main">

        <header class="container-fluid shadow border-bottom bg-light">

            <nav class="navbar  navbar-dark">

                <a asp-action="Index" class="navbar-brand align-items-center mr-auto text-dark pl-3 font-italic"><span class="text-info font-weight-bold"><i class="fa fa-user-plus" aria-hidden="true" style="font-size:20px"></i> Agregando nuevo</span> Pablo Molina </a>

                <a asp-controller="Administrador" asp-action="AdministrarUsuario" class="btn btn-danger ml-auto  btn-sm">Atras</a>
            </nav>
        </header>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <span class="dropdown-header" style="font-size:20px; color:#0071c5;">Inicio</span>
        <a class="dropdown-item" asp-action="Index" asp-controller="Administrador">Home</a>
        <div class="dropdown-divider"></div>
        <span class="dropdown-header" style="font-size:20px; color:#0071c5;">Administración Usuario</span>
        <a class="dropdown-item" asp-controller="Administrador" asp-action="PagosExpreso">Usuarios</a>
    </div>
    <div id="main2">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
