<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Cliente</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link href="~/css/EstiloClient.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/EstilosLayout.css" />

    <!-- jQuery, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

</head>
<body>

    <script>
        var num = 0;
        function Nav() {
            num = num + 1;
            if (num % 2 == 0) {
                closeNav();
            } else {
                openNav();
            }
        }
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("main2").style.marginLeft = "250px";

        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("main2").style.marginLeft = "0";

        }
    </script>
    <div id="main">

        <header class="container-fluid shadow border-bottom bg-light">
            <nav class="navbar  navbar-dark">

                <div class="dropdown ">
                    <button class="btn btn-dark dropdown-toggle" onclick="Nav()" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-toggler-icon text-dark"></span>
                    </button>

                </div>
                <a asp-action="Index" class="navbar-brand align-items-center mr-auto text-dark pl-3 text-dark font-italic"><span class="text-primary font-weight-bold">User:</span> Eliam Solis de los Santos </a>

                <a asp-controller="Login" asp-action="Index" class="btn btn-danger ml-auto  btn-sm">Cerrar Sesión <img src="https://img.icons8.com/office/16/000000/exit.png" />   </a>
            </nav>
        </header>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <span class="dropdown-header" style="font-size:20px; color:#0071c5;">Inicio</span>
        <a class="dropdown-item" asp-action="Index">Home</a>
        <div class="dropdown-divider"></div>
        <span class="dropdown-header" style="font-size:20px; color:#0071c5;">Pagos</span>
        <a class="dropdown-item text-info" asp-action="PagosExpreso">Expreso</a>
        <a class="dropdown-item" asp-action="PagosTarjeta">Tarjeta de Crédito</a>
        <a class="dropdown-item" asp-action="PagosPrestamo">Prestamo</a>
        <a class="dropdown-item" asp-action="PagosBeneficiario">Beneficiario</a>
        <div class="dropdown-divider"></div>
        <span class="dropdown-header" style="font-size:20px; color:#0071c5;">Tranferencias</span>
        <a class="dropdown-item text-info" asp-action="Beneficiario">Beneficiario</a>
        <a class="dropdown-item" asp-action="AvanceEfectivo">Avance Efectivo</a>
        <a class="dropdown-item" asp-action="Transferencia">Transferencia</a>
    </div>
    <div id="main2" >
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
