<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Administrador</title>


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link href="~/css/EstiloAdministrador.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/EstilosLayout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- jQuery, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>
        function myFunction() {
            var x = document.getElementById("Clave");

            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }

        }

        function mostrar() {

            var element = document.getElementById('mon');
            var tipo_usuario = document.getElementById('tipo').value;

            if (tipo_usuario == "Cliente") {
                element.style.display = 'block';
            }
            else {
                element.style.display = 'none';
            }

        }

        function dinero() {

            var element = document.getElementById('balance');

            var elemento = document.getElementById('cuentaCredito');
            var elementos = document.getElementById('CuentaPrestamo');

            var tipo_cuenta = document.getElementById('opciones').value;

            if (tipo_cuenta == "Ahorro") {
                element.style.display = 'block';
            }
            else {
                element.style.display = 'none';
            }

            if (tipo_cuenta == "Credito") {
                elemento.style.display = 'block';
            }
            else {
                elemento.style.display = 'none';
            }

            if (tipo_cuenta == "Prestamo") {
                elementos.style.display = 'block';
            }
            else {
                elementos.style.display = 'none';
            }
            
        };        

        function fechas() {

            var hoy = new Date();   
            var pagos = new Date();
            var expiracion = new Date();

            pagos.setDate(hoy.getDate() + 20);
            expiracion.setDate(hoy.getDate() + 30);

        //    $("#fecha").val(hoy);
         //   $("#fecha1").val(pagos);
        //    $("#fecha2").val(expiracion);
            document.getElementById("fecha").value = hoy;
            document.getElementById("fecha1").value = pagos;
            document.getElementById("fecha2").value = expiracion;
           

           /// document.getElementById("text").value = hoy;
        };

        $(function () {
            dinero();
            fechas();
            mostrar();
        });
      

    </script>

</head>
<body>

    <div id="main">

        <header class="container-fluid shadow border-bottom bg-light">
            <nav class="navbar  navbar-dark">
                <a  class="navbar-brand align-items-center mr-auto text-dark pl-3 font-italic text-info font-weight-bold"><h3>@ViewData["banner"]</h3></a>

                <a asp-controller="Administrador" asp-action="AdministrarUsuario" class="btn btn-danger ml-auto  btn-sm">Atras</a>
            </nav>
        </header>
    </div>
    <div id="main2">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
