@{
    Layout = null;
}
<html>
<head>
    <title>Client</title>
    <!--Boostrap!-->
    <link href="~/css/EstiloClient.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body class="bg-light" id="CardViewFormulario">

    <header class="container-fluid position-fixed shadow border-bottom bg-light  mb-4 rounded fixed-top">
        <nav class="navbar  navbar-dark">
            <a asp-action="Index" class="navbar-brand align-items-center text-dark">User: </a>
            <div class="form-inline">
                <ul class="nav justify-content-end nav-pills">
                    <li class="nav-item">
                        <a asp-controller="Login" asp-action="Index" class="btn btn-danger btn-sm">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container bg-warning border border-white rounded shadow-sm p-1 mb-5 bg-white rounded">

        <ul class="nav nav-tabs bg-light">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-controller="Client" role="button" aria-haspopup="true" aria-expanded="false">Pagos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="PagosExpreso">Expreso</a>
                    <a class="dropdown-item" asp-action="PagosTarjeta">Tarjeta de Crédito</a>
                    <a class="dropdown-item" asp-action="PagosPrestamo">Prestamo</a>
                    <a class="dropdown-item" asp-action="PagosBeneficiario">Beneficiario</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-action="Beneficiario">Beneficiario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AvanceEfectivo">Avance Efectivo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Transferencia">Transferencia</a>
            </li>
        </ul>


        <div class="d-flex justify-content-center letterPagos">Beneficiarios</div>
        <hr />

        <div class="d-flex justify-content-center ">
            <div class="W-75 mt-3">

                <table class="table table-striped table-dark text-center shadow rounded table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"> Numero de Cuenta</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-primary">
                            <th scope="row">564564456</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">111555999</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">111444787</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>


    </div>

    

    <!-- jQuery, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>

