@{
    //Layout = null;
}
<body class="bg-light" id="CardViewFormulario">

    <div class="container bg-warning border border-white rounded shadow-sm p-1 mb-5 bg-white rounded">

        <div class="text-center overflow-auto">

            <div class="card rounded border-0">

                <div class="card-header headNombre rounded border border-secondary shadow-sm p-1 bg-white rounded mb-2">
                    <div class="d-flex justify-content-center letterPagos ">Home</div>
                </div>

                <div class="card-body p-1 mb-2">
                    <div class=" headNombre">
                        Rafael Solis Matos
                    </div>
                    <h5 class="card-title titleCuenta"><span style="color:olivedrab" class="titleProducto">Cuenta Principal:</span> #203231231</h5>
                    <h6 class="card-subtitle mb-1 text-muted">Fecha de Adquisicion: 20/6/2020</h6>
                    <p class="card-text  dineroAhorro">Balance: <span class="simboloDinero">$</span> 201100.22</p>
                </div>
            </div>


            <!--Cuentas de Ahorro-->
            <div class="card w-100 text-left shadow bg-white rounded mb-3">
                <div class="card-body p-1">

                    <h5 class="card-title titleCuenta"><span style="color:olivedrab" class="titleProducto">Cuenta de Ahorro:</span> #203231231</h5>
                    <h6 class="card-subtitle mb-1 text-muted">Fecha de Adquisicion: 20/6/2020</h6>
                    <p class="card-text  dineroAhorro">Balance: <span class="simboloDinero">$</span> 201100.22</p>
                </div>
            </div>

            <!--Tarjeta de Credito-->
            <div class="card w-100 text-left shadow bg-white rounded  mb-3">
                <div class="card-body p-1">

                    <h5 class="card-title titleCuenta"><span style="color:orange" class="titleProducto">Tarjeta de Credito:</span> #203231231</h5>
                    <h6 class="card-subtitle mb-1 font-weight-bold font-italic text-info">Fecha de Expiración: <span class="text-dark">26/5/2020</span></h6>
                    <p class="card-text  dineroAhorro">Monto: <span class="simboloDinero">$</span> 201100.22</p>
                </div>
            </div>


            <!--Prestamos-->
            <div class="card w-100 text-left shadow bg-white rounded  mb-3">
                <div class="card-body p-1">

                    <h5 class="card-title titleCuenta"><span style="color:darkred" class="titleProducto">Prestamo:</span> #203231231</h5>
                    <h6 class="card-subtitle mb-1 font-weight-bold font-italic text-info">Fecha de Expiración: <span class="text-dark">26/5/2020</span></h6>
                    <p class="card-text  dineroAhorro">Monto: <span class="simboloDinero">$</span> 201100.22</p>
                </div>
            </div>



        </div>
    </div>
</body>


