
@{
    Layout = null;
}
<html>
<head>
    <title>Client</title>
    <!--Boostrap!-->
    <link href="~/css/EstiloClient.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body class="bg-light" id="CardViewFormulario">

    <header class="container-fluid position-fixed shadow border-bottom bg-light  mb-4 rounded fixed-top">
        <nav class="navbar  navbar-dark">
            <a asp-action="Index" class="navbar-brand align-items-center text-dark">User: </a>
            <div class="form-inline">
                <ul class="nav justify-content-end nav-pills">
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="btn btn-danger btn-sm">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container bg-warning border border-white rounded shadow-sm p-1 mb-5 bg-white rounded" id="Contenido">

        <ul class="nav nav-tabs bg-light">
            <li class="nav-item">
                <a class="nav-link active " href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pagos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Expreso</a>
                    <a class="dropdown-item" href="#">Tarjeta de Crédito</a>
                    <a class="dropdown-item" href="#">Prestamo</a>
                    <a class="dropdown-item" href="#">Beneficiario</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Beneficiario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Avance Efectivo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Transferencia</a>
            </li>
        </ul>

        <div class="text-center">

            <div class="rounded-pill shadow p-3 mb-5 bg-white rounded ">
                <p class="h7 text-left"> Cuentas de ahorros</p>
            </div>


        </div>
        <!--Cuentas de Ahorro-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>








        <!-- jQuery, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>

