@model ItlaBanking.ViewModels.PagosViewModel
@{ 

}

<body class="bg-light" id="CardViewFormulario">

    <div class="container bg-warning border border-white rounded shadow-lg p-1 mb-5 bg-white rounded">

        <div>
            <div class="card-header headNombre rounded border border-secondary shadow-sm p-1 bg-white rounded mb-3">
                <div class="d-flex justify-content-center letterPagos">Pagos Préstamos</div>
            </div>


            <form asp-action="PagosPrestamo" asp-controller="Client" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="labelPago ml-3">Seleccionar Préstamo:</label>
                        <select asp-for="NumeroCuentaPagar" class="custom-select custom-select-lg mb-3 rounded-pill shadow bg-white rounded border border-secondary">
                            <option value="0" selected>Seleccionar</option>
                            @foreach (var prestamos in Model.prestamos)
                            {
                                <option value="@prestamos.NumeroPrestamo">@prestamos.NumeroPrestamo</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="labelPago ml-3">¿Desde que cuenta la quiere pagar?</label>
                        <select asp-for="NumeroCuenta" class="custom-select custom-select-lg mb-3 rounded-pill shadow bg-white rounded border border-secondary">
                            <option value="0" selected>Seleccionar</option>
                            @foreach (var cuenta in Model.cuenta)
                            {
                                <option value="@cuenta.NumeroCuenta">@cuenta.NumeroCuenta</option>
                            }
                        </select>
                    </div>

                </div>


                <div class="d-flex justify-content-center">
                    <div class="form-group">
                        <label class="labelPago d-flex justify-content-center">Monto a pagar: </label>
                        <input asp-for="Monto" type="number" min="0.01" step="0.01" class="form-control form-control-lg rounded-pill border border-dark shadow-lg p-3  bg-white rounded" placeholder="Ingresar Monto">
                        <span asp-validation-for="Monto" class="text-danger"></span>

                    </div>
                </div>


<<<<<<< HEAD
                <div class="d-flex justify-content-center mt-3 mb-2">
                    <input type="submit" value="Pagar" class="btn btn-outline-success font-weight-bold  shadow-lg rounded w-25">
=======
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Pagar" class="btn btn-outline-success font-weight-bold btn-lg shadow-lg rounded W-25">
>>>>>>> 210e86134700a8d31e8b4e3eefbf3645b79adb5e

                </div>

            </form>



        </div>


    </div>
</body>

