@model ItlaBanking.ViewModels.AvanceEfectivoViewModel
@{
}
<html>
<body class="bg-light" id="CardViewFormulario">
    <div class="container bg-warning border border-white rounded shadow-lg p-1 mb-5 bg-white rounded">

        <div>
            <div class="card-header headNombre rounded border border-secondary shadow-sm p-1 bg-white rounded mb-3">
                <div class="d-flex justify-content-center letterPagos">Transferencias</div>
            </div>

            <form asp-action="Transferencia" asp-controller="Client" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="labelPago ml-3">Seleccionar  cuenta de origen:</label>
                            <select asp-for="NumeroCuenta" class="custom-select custom-select-lg mb-3 rounded-pill shadow bg-white rounded border border-success">
                                <option value="" selected>Seleccionar</option>
                                @foreach (var cuenta in Model.cuenta)
                                {
                                    <option value="@cuenta.NumeroCuenta">@cuenta.NumeroCuenta</option>
                                }
                            </select>
                            <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="labelPago ml-3">Seleccionar cuenta de destino:</label>
                            <select asp-for="NumeroCuentaDestinatario" class="custom-select custom-select-lg mb-3 rounded-pill shadow bg-white rounded border border-success">
                                <option value="" selected>Seleccionar</option>
                                @foreach (var ct in Model.cuentaMismoCliente)
                                {
                                    <option value="@ct.NumeroCuenta">@ct.NumeroCuenta</option>
                                }
                            </select>
                            <span asp-validation-for="NumeroCuentaDestinatario" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="d-flex justify-content-center p-1">
                        <div class="form-group">
                            <label class="labelPago d-flex justify-content-center"> Monto: </label>
                            <input asp-for="Monto" type="number" min="0.01" step="0.01" class="form-control form-control-lg rounded-pill border border-secondary shadow-lg p-3  bg-white rounded" placeholder="Ingresar Monto">
                        </div>

                    </div>

                    <div class="d-flex justify-content-center mb-2 p-1">
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info font-weight-bold btn-lg shadow-lg rounded-pill W-25" type="submit">Transferir</button>

                    </div>

            </form>



        </div>

    </div>
</body>
</html>

